:root {
  --bg-color-primary: #2c3878;
}
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  background-color: var(--bg-color-primary);
  padding: 14px 32px;
  color: white;
  border: 0;
}

.btn-white {
  background-color: white;
  padding: 14px 32px;
  color: black;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
}

.nav-item {
  display: inline;
}

.nav-item.home {
  font-weight: bold;
}

.nav-item.active {
  background-color: var(--bg-color-primary);
  padding: 14px 32px;
  color: white;
}

.banner {
  margin-top: 5rem;
  position: relative;
}
.banner-title {
  font-size: 7.2rem;
  font-weight: 700;
  width: 70rem;
}

.banner-highlights {
  position: absolute;
  right: 15rem;
  top: 10rem;
  background-color: var(--bg-color-primary);
  color: white;
  height: 40rem;
  width: 16rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-number {
  font-size: 5.2rem;
}

.banner-text {
  font-size: 1.6rem;
}

.banner-image {
  width: 100%;
  height: 513px;
  object-fit: cover;
  margin-top: 5rem;
}

.divider {
  border-top: 2px solid black;
}

.banner-divider {
  width: 60%;
  position: absolute;
  right: 0;
  top: 4rem;
}

.section-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.section-heading {
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 3rem;
}

.section-divider {
  width: 40%;
  display: inline-block;
  margin-left: 1rem;
}

.section {
  margin-top: 15rem;
  position: relative;
}

.section-content {
  margin-top: 3rem;
  display: flex;
}

.section-text {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.user {
  position: absolute;
  top: 19rem;
  right: 6rem;
  width: 30rem;
  background-color: white;
  display: flex;
  padding: 1.5rem;
  align-items: center;
}

.user-detail {
  margin-left: 2rem;
}

.user-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.user-title {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.section-about .section-text {
  /* align-self: center; */
  margin-top: 22rem;
  padding: 3rem;
}

.section-about .btn {
  margin-top: 5rem;
}

.footer-top {
  background-color: var(--bg-color-primary);
  height: 20rem;
  color: white;
  padding-top: 3.8rem;
}
.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-top .footer-left {
  font-size: 3.6rem;
  font-weight: 600;
  width: 55%;
}
.footer-top .footer-right {
  font-size: 1.8rem;
  font-weight: 400;
  width: 30%;
}

.footer-top .footer-right .btn {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 4rem;
}
